*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 100px;
    background-color: #ffeae0;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.nav .logo h1 {
    font-weight: 600;
    font-family: sans-serif;
    color: #000000;
}
.nav .logo b{
    color: #ff511c;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav ul li {
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-style: 17px;
}
.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}
input {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}
.signin {
    background: transparent;
    border: none;
    transition: 0.3s ease;
}
.signin:hover{
    border: 2px solid #ff511c;
    border-radius: 5px;
    color: red;
}
.signup {
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
}
.signup:hover{
    background: transparent;
    color: #000000;
}
.content {
    display: grid;
    grid-template-columns: 50%  auto;
    gap: 30px;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
}
.content .content-left {
    display: block;
    width: 100%;
}
.content .content-left .info {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.content .content-left .info p{
    font-size: 20px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.content .content-left button {
    padding: 10px 23px;
    background-color: #ff511c;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
    font-weight: 600;
}
.content .content-left button:hover{
    transform: scale(1.2);
    font-weight: bold;
}

.content .content-right {
    display: block;
    width: 100%;
}

.content .content-right img{
    width: 400px;
    height: auto;
    border-radius: 70%;
    position: relative;
    user-select: none;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

